.kasa-all-logements {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F7F7F7;
    width: 100%;
    border-radius: 25px;
    padding: 50px;
    gap: 45px;
}

@media screen and (max-width: 768px) {
    .kasa-all-logements {
        background-color: white;
        padding: 0px;
    }
}

.kasa-fiche-logement {
    border-radius: 10px;
    cursor: pointer;
    height: 340px;
    overflow: hidden;
    position: relative;
    width: 29%;
}

.kasa-fiche-logement a::after {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, 0.5));
    content: "";
    inset: 0;
    position: absolute;
    opacity: 50%;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    .kasa-fiche-logement {
        width: 46%;
    }
}

@media screen and (max-width: 900px) {
    .kasa-fiche-logement {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .kasa-fiche-logement {
        height: 255px;
    }
}

.kasa-fiche-logement img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.kasa-fiche-logement h3 {
    align-items: flex-end;
    bottom: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    left: 20px;
    position: absolute;
    right: 20px;
    z-index: 20;
}

.kasa-fiche-logement:hover {
    box-shadow: 0px 0px 10px #473030;
    cursor: pointer;
}

.kasa-all-logements-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F7F7F7;
    width: 95%;
    border-radius: 25px;
    margin: 0 auto;
    padding: 25px;
    gap: 50px;
}