.kasa-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 68px;
    justify-content: space-between;
    max-width: 95%;
    margin-left: 25px;
    margin-top: 30px;
}

.kasa-header img {
    height: 60%;
}

.kasa-nav-list {
    color: #ff6060;
    display: flex;
    font-size: clamp(12px,2.5vw,24px);
    gap: 50px;
}

.kasa-accueil {
    position: relative;
}

li {
    list-style: none;
}