.kasa-banner {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 68px;
    justify-content: space-between;
    max-width: 95%;
}

.kasa-logo {
    height: 60%;
}

.kasa-nav {
    color: #ff6060;
    display: flex;
    font-size: clamp(12px,2.5vw,24px);
    gap: 50px;
    list-style-type: none;
}