.kasa-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 68px;
    justify-content: space-between;
    margin-left: 0px;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    .kasa-header {
        height: 40px;
    }
}

.kasa-header img {
    height: 60%;
}

@media screen and (max-width: 700px){
    .kasa-header img {
        height: 40px;
    }
}

.kasa-nav-list {
    color: #ff6060;
    display: flex;
    font-size: clamp(12px, 2.5vw, 24px);
    gap: 50px;
}

.kasa-nav-list:hover {
    color: #ff6060;
}

@media screen and (max-width: 700px) {
    .kasa-nav-list {
        gap: 20px;
    }
}

.kasa-nav a {
    color: #ff6060;
}

.kasa-accueil {
    position: relative;
}

ul {
    list-style-type: none;
}

.nav-active{
    text-decoration: underline 2px solid #FF6060;
}
