:root {
  --colorRed: #FF6060;
  --colorWhite: #fff;
}

html {
  overflow: scroll;
}

* {
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}